@charset "utf-8";
/*
Template Name: Craving
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("fontawesome-4.3.0.min.css");
@import url("custom.flexslider.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0, .row0 a{}
.row1, .row1 a{}
.row2{border-bottom:1px solid;}
.row3, .row3 a{}
.row4, .row4 a{}
.row5{border-top:1px solid;}

h1, p
{
    overflow: scroll;
}



/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:10px 0; font-size:.8rem; text-transform:uppercase;}

#topbar .pushright li{margin-right:10px; padding-right:15px; border-right:1px solid;}
#topbar .pushright li:last-child{margin-right:0; padding-right:0; border-right:none;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:50px 0;}

#header #logo{ width: 300px;}
#header #logo h1{margin:0; padding:0; font-size:32px; text-transform:uppercase;}

#header .fl_right{margin-top:5px;}
#header .pushright li{margin-right:20px;}
#header .pushright li:last-child{margin-right:0;}
#header .pushright li i{margin-right:5px;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:175px 0 150px;}

#pageintro p .btn{margin-top:30px; font-size:1rem;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.latest{}
.latest figure{display:inline-block; position:relative; max-width:100%; margin-bottom:30px;}
.latest figure figcaption{display:block; position:absolute; bottom:0; right:0; width:60px; height:auto; padding:8px 0; border-radius:5px 0 0 0; text-align:center;}
.latest figure figcaption *{display:block; margin:0; padding:0;}
.latest figure figcaption strong{margin-bottom:-5px;}
.latest .heading, .latest p{margin:0; padding:0;}
.latest .heading{margin-bottom:10px; text-transform:capitalize;}
.latest p:last-of-type{margin-top:20px;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* CTA - Click to Action
--------------------------------------------------------------------------------------------------------------- */
#cta{padding:20px 0; border-radius:5px 5px 0 0; text-align:center;}

#cta .icon{display:inline-block; width:40px; height:40px; line-height:38px; margin-bottom:10px; border:1px solid; border-radius:5px; text-align:center; font-size:18px;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:50px 0;}

#footer .title{margin:0 0 30px 0; padding:0 0 8px 0; border-bottom:1px solid; font-size:18px;}

#footer .linklist li{margin-bottom:10px;}
#footer .linklist li:last-child{margin-bottom:0;}

#footer .smallfont{font-size:.8rem; margin:0;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
.faico a, #mainav *, #backtotop, .btn{transition:all .3s ease-in-out;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:170px; text-transform:none;}
#mainav ul ul ul{left:100%; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 30px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:20px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:25px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:20px 0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:50px 0 20px; border-bottom:1px solid; text-align:right;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; border-radius:5px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#FFFFFF; background-color:#2C2C2C;}
a{color:#8096AA;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
.overlay{color:inherit; background-color:rgba(168,180,193,.75);}
.btn{color:#FFFFFF; background-color:#8096AA; border-color:#8096AA;}
.dk-blue{color:#445666;}

/* Rows */
.row0, .row0 a{color:#888888; background-color:#FFFFFF;}
.row1, .row1 a{color:#FFFFFF; background-color:#A8B4C1;}
.row2, .row2 a{color:#888888; background-color:#F4F4F4;}
.row2{border-color:#D7D7D7;}
.row3{color:#888888; background-color:#FFFFFF;}
.row4{color:#888888; background-color:#2C2C2C;}
.row5, .row5 a{color:#888888; background-color:#2C2C2C;}
.row5{border-color:#454545;}


/* Top Bar */
#topbar .pushright li{border-color:#D7D7D7;}


/* Page Intro */
#pageintro .btn{background-color:inherit; border-color:inherit;}
#pageintro .btn:hover{background-color:#445666; border-color:#445666;}


/* Content Area */
.latest figure figcaption{color:#FFFFFF; background-color:rgba(0,0,0,.65);}


/* CTA */
#cta, #cta a{color:#FFFFFF; background-color:#8096AA;}


/* Footer */
#footer .title{color:#FFFFFF; border-color:#454545;}


/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#8096AA; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#8096AA;}
#mainav form select{color:#FFFFFF; background-color:#8096AA; border-color:#D7D7D7;}

#breadcrumb{border-color:#F4F4F4;}
#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:#8096AA;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#8096AA;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#8096AA;}

#backtotop{color:#FFFFFF; background-color:#8096AA;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:180px) and (max-width:750px) {
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#topbar ul:first-of-type{margin-bottom:10px;}

	#cta div:last-of-type{margin-bottom:0;}
}

@media screen and (min-width:180px) and (max-width:900px) {
	#topbar, #header, #pageintro, #mainav, #breadcrumb, .container, #cta, #footer, #copyright{max-width:90%;}

	#topbar{}

	#header{}

	#pageintro{}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#cta{}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
	#topbar, #header, #pageintro, #mainav, #breadcrumb, .container, #cta, #footer, #copyright{max-width:978px;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.carousel{width:100%;}
	.carousel blockquote{padding:0;}
	.carousel blockquote::before, .carousel blockquote::after{display:none;}
}